trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

stages:
- stage: Build
  jobs:
  - job: Build_and_Test
    displayName: 'Build and Test'
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '16.x'
      displayName: 'Install Node.js'

    - task: Npm@1
      inputs:
        command: 'install'
        workingDir: 'groupreact-chatgpt'
        verbose: false
      displayName: 'Install dependencies'

    - task: Npm@1
      inputs:
        command: 'custom'
        workingDir: 'groupreact-chatgpt'
        customCommand: 'run build'
        verbose: false
      displayName: 'Build project'

    - task: Npm@1
      inputs:
        command: 'custom'
        workingDir: 'groupreact-chatgpt'
        customCommand: 'run test'
        verbose: false
      condition: succeededOrFailed()
      displayName: 'Run tests'
